* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #64b000;
    color: white;
    padding: 20px;
    text-align: center;
}

.layout header {
    position:sticky;
    top: 0;
    width: 100%;
}

main {
    flex: 1;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

.layout main {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
}

footer {
    background-color: #81005a;
    color: white;
    padding: 20px;
    text-align: center;
}
.layout footer {
    background-color: #81005a;
    position:sticky;
    bottom: 0;
}

section {
    border: #851010 solid 10px;
    margin : 20px 0;
    padding: 20px;
}

.layout section {
    border: #851010 solid 10px;
    background-color: #fff;
}

.intro {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input, textarea, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}



#absolute {
    position: absolute;
    top: 200px;
    right: 0;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
}
#relative-box {
    position: relative;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
}
#box {
    position:absolute;
    top:0px;
    right: -12px;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 0, 0, 0.5);
}
#fixed {
    position: fixed;
    top: 200px;
    left: 0;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
}
#sticky {
    position: sticky;
    top: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
}