<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="./main.css">

</head>
<body>
<!-- Buttons --> 
    <!-- <button class="button button--variant-primary">Primary</button>


    <button class="button button--variant-primary button--icon-right">
        <img class="icon" src="./assets/cloud-arrow-down-svgrepo-com.svg" alt="icon">           
        <span class="label">Button</span>
    </button>

    <button class="button button--icon-only button--variant-primary">
        <img class="icon" src="./assets/cloud-arrow-down-svgrepo-com.svg" alt="icon">
    </button> --> 

<!-- Input Field -->
  
 <!-- <div class="input">
    <label class = "input__label" for="email">Email</label>
    <input class="input__field" type="email" id="email" placeholder="Enter your email">
    <span class="input__message">Please enter a valid email address.</span>
</div>  -->

<!-- <div class="input input--error">
    <label class = "input__label">Email</label>
    <input class="input__field" type="email" placeholder="Enter your email">
    <span class="input__message">Please enter a valid email address.</span>
</div> -->

<!-- <div class="input">
    <label class = "input__label">Email</label>
    <input class="input__field" type="email" placeholder="Enter your email" disabled>
    <span class="input__message">Please enter a valid email address.</span>
</div>   -->

<!-- Floating Label -->
<div class="input input--floating">
    <div class="input__wrapper">
        <input class="input__field" type="email" id="email" placeholder=" " >
        <label class="input__label" for="email">Email</label>
    </div>
    <span class="input__message">Invalid email</span>
</div>


</body>
</html>